@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

/* body {
  font-family: "Inter";
} */
:root {
  --primary-font: var(--font-schibsted-grotesk);
  --primary: var(--color-neutral-700);
  --foreground: var(--color-neutral-500);
}

@theme inline {
  --font-display: var(--primary-font);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}
