.scrollBg {
  -webkit-animation-name: scrollSmall;
  animation-name: scrollSmall;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes scrollSmall {
  0% {
    transform: translateX(0%) translateZ(0px) translateY(0px);
  }

  to {
    transform: translateX(100%) translateZ(0px) translateY(0px);
  }
}

@keyframes scrollSmall {
  0% {
    transform: translateX(0%) translateZ(0px) translateY(0px);
  }

  to {
    transform: translateX(-100%) translateZ(0px) translateY(0px);
  }
}
